/nbproject/
/runtime/*
/addons/*
/vendor

/public/assets/addons/*
/public/uploads/*

/public/css/*

/public/fonts/*

/public/index.html

/public/js/*

/public/img/*
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
