<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Factor_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-factor_id" data-rule="required" data-source="factor/index" class="form-control selectpage" name="row[factor_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Max')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-max"  class="form-control" name="row[max]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Min')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-min"  class="form-control" name="row[min]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('National_stand')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-national_stand"  class="form-control" name="row[national_stand]" type="text" value="">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">格式化类型</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[format_type]',  $format, null, ['class'=>'form-control', 'required'=>'true'])}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">网页输入模式</label>
        <div class="col-xs-12 col-sm-8">

            {:build_select('row[input_mode]',  $mode, null, ['class'=>'form-control', 'required'=>'true'])}

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Option')}:</label>
        <div class="col-xs-12 col-sm-8">
            <dl class="fieldlist" data-name="row[option]" data-template="testtpl">
                <dd>
                    <ins>参数</ins>
                    <ins>名称</ins>
                    <ins>提示</ins>
                </dd>
                <dd>
                    <a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> 追加</a>
                </dd>
                <textarea name="row[option]" class="form-control hide" cols="30" rows="5"></textarea>
            </dl>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">问卷</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-questions_id"  data-source="questions/index" data-field="title" class="form-control selectpage" name="row[questions_id]" data-multiple="true" value="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">问卷名称</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-question_name"  class="form-control" name="row[question_name]" type="text" value="">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">文件</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-question_link"  class="form-control" size="50" name="row[question_link]" type="text" value="0">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-image" class="btn btn-danger faupload" data-input-id="c-question_link" data-mimetype="*" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-question_link" data-mimetype="*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-question_link"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-image"></ul>
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">参考文献</label>
        <div class="col-xs-12 col-sm-8">
            <dl class="fieldlist" data-name="row[document]" data-template="testtpl2">
                <dd>
                    <ins>名称</ins>
                </dd>
                <dd>
                    <a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> 追加</a>
                </dd>
                <textarea name="row[document]" class="form-control hide" cols="30" rows="5"></textarea>
            </dl>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Method')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-method"  class="form-control" name="row[method]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Meaning')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-meaning"  class="form-control " rows="5" name="row[meaning]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Calc_method')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-calc_method"  class="form-control " rows="5" name="row[calc_method]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Source')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-source" class="form-control" name="row[source]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Link')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-link"  class="form-control" name="row[link]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status"  class="form-control" name="row[status]" type="number" value="1">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>


<script type="text/html" id="testtpl">
    <dd class="form-inline">
        <input type="text" name="row[<%=name%>][<%=index%>][var]" class="form-control" value="<%=row['var']%>" size="10">
        <input type="text" name="row[<%=name%>][<%=index%>][name]" class="form-control" value="<%=row['name']%>" size="30">
        <input type="text" name="row[<%=name%>][<%=index%>][tip]" class="form-control" value="<%=row['tip']%>" size="30">
        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span> <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
    </dd>
</script>


<script type="text/html" id="testtpl2">
    <dd class="form-inline">
        <input type="text" name="row[<%=name%>][<%=index%>][name]" class="form-control" value="<%=row['name']%>" size="180" style="width: 300px">
        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span> <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
    </dd>
</script>
